@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #36393f;
}